// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.contente_dad {
    width: 100%;
    position: relative;
    @media only screen and (max-width: 600px) {
        width: 90%;
        margin: 0 auto;
    }
    .mosca {
        position: fixed;
        z-index: 10;
        right: 16%;
        bottom: 80px;
        @media only screen and (max-width: 600px) {
            bottom: 0;
            right: 10px;
            img {
                width: 50px;
            }
        }
    }    
    // SLIDER
    .contente_slider {
        width: 100%;
        height: 645px;
        border-radius: 20.967px;
        background: linear-gradient(146deg, rgba(22, 22, 22, 0.00) 19.98%, #161616 118.65%);        
        overflow-y: hidden;
        position: relative;
        margin-bottom: 2rem;
        @media only screen and (max-width: 600px) {
            height: 445px;
        }
        .bullets_slider {
            position: absolute;
            right: 20px;
            top: 30px;
            z-index: 10;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .bullet {
                width: 12px;
                height: 12px;   
                background: #999999;    
                border-radius: 50%;   
                &.active {
                    width: 16px;
                    height: 16px;                       
                    background: #BD2727;
                }      
            }
        }
        .custom_slide {
            width: 100%;
            .item_slider {            
                width: 100%;
                height: 645px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                position: relative;
                z-index: 2;
                .contenedor_informacion_banner {
                    width: 95%;
                    margin: 0 auto;
                    margin-bottom: 3rem;
                    position: relative;
                    z-index: 10;
                    @media only screen and (max-width: 600px) {
                        margin-bottom: 14rem;
                    }
                    .encabezado_banner {
                        color: var(--Blanco-F5EDED);
                        font-family: $font-family;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 95%; /* 24.7px */
                        letter-spacing: -1.04px;     
                        @media only screen and (max-width: 600px) {
                            font-size: 15px;
                            padding-bottom: 10px;
                        }               
                    }
                    .box_slider_text {  
                        width: 100%;
                        @include flex(flex, space-between, flex-end, 0px);
                        .texto_principal {
                            color: var(--Blanco-F5EDED);
                            font-family: $font-family;
                            font-size: 105px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 95%; /* 99.75px */
                            letter-spacing: -4.2px;   
                            @media only screen and (max-width: 600px) {
                                font-size: 20px;
                                letter-spacing: 0px; 
                                line-height: 20px; 
                            }                             
                        }
                        .conocer_mas {
                            width: 230px;
                            height: 50px;
                            @media only screen and (max-width: 600px) {
                                width: 100px;
                                height: 10px;
                                img {
                                    width: 15px;
                                }
                            }
                            &:hover {
                                border-radius: 30px;
                                border: 1px solid #fff;
                                background-color: rgba($color: #FFF, $alpha: 0.1);                                
                            }
                            @include flex(flex, center, center, 20px);
                            @media only screen and (max-width: 600px) {
                                gap: 5px;
                            }
                            .button_conoce_mas {
                                color: var(--Blanco-F5EDED);
                                font-family: $font-family;
                                font-size: 17.477px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;     
                                @media only screen and (max-width: 600px) {
                                    font-size: 8px;
                                }                       
                            }
                        }
                    }
                }
            }
        }
    }  
    .content_slider_nosotros {
        width: 100%;
        margin-bottom: 20px;
        @include flex(flex, space-between, flex-start, 0px);
        @media only screen and (max-width: 600px) {
            flex-direction: column;
            gap: 30px;
        }          
        .content_logo_neurona {
            width: 630px;
            height: 444.481px;
            flex-shrink: 0;       
            border-radius: 20.984px;
            background: var(--Negro-Thunder-NF, #2B272B);    
            @media only screen and (max-width: 600px) {
                width: 100%;
                border-radius: 20px;
            }             
        }
        .glide_slider {
            width: 630px;
            height: 443px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            overflow: hidden;
            border-radius: 20px;
            @media only screen and (max-width: 600px) {
                width: 100%;
                height: 226px;
                border-radius: 20px;
            }            
            img {
                height: 443px;
                @media only screen and (max-width: 600px) {
                    height: auto;
                }
            }
        }
        .glide_slider_big {
            width: 630px;
            height: 635px;  
            overflow: hidden;          
            border-radius: 20px;
            @media only screen and (max-width: 600px) {
                width: 100%;
                height: auto;
                border-radius: 20px;
            }
            img {
                width: 630px;
                height: 635px;  
                border-radius: 20px;
                @media only screen and (max-width: 600px) {
                    width: 100%;
                    height: auto;
                    border-radius: 20px;
                }
            }
        }
        .content_nosotros {
            width: 49%;
            height: 443px;
            background-color: #2B272B;
            border-radius: 20px;
            overflow: hidden;
            @include flex(flex, center, center, 0px);
            border: 2px solid #2B272B;
            @media only screen and (max-width: 600px) {
                width: 100%;
                height: auto;
                padding: 2rem 0;
                border: 2px solid #BD2727;
            }               
            &:hover {
                border: 2px solid #BD2727;
            }
            .box {
                width: 86%;
                margin: 0 auto;
                .h6 {
                    color: var(--Blanco-F5EDED);
                    font-family: $font-family;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 101.5%; /* 14.21px */      
                    padding-bottom: 20px;
                }
                .txt_wp {
                    width: 100%;
                    padding-bottom: 20px;
                    @include flex(flex, space-between, center, 0px);
                    .h1 {
                        color: var(--Blanco-F5EDED);
                        font-family: $font-family;
                        font-size: 52px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 100%; /* 52px */        
                        @media only screen and (max-width: 600px) {
                            font-size: 25px;
                        }                
                    }
                    .h_acerca_de {
                        color: var(--Blanco-F5EDED);
                        font-family: $font-family;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 100%; /* 52px */        
                        @media only screen and (max-width: 600px) {
                            font-size: 25px;
                        }                
                    }                    
                }
                .txt_sinwp {
                    width: 100%;
                    @include flex(flex, space-between, center, 0px);
                    .h6 {
                        color: var(--Blanco-F5EDED);
                        font-family: $font-family;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 125%; /* 32.5px */                        
                        @media only screen and (max-width: 600px) {
                            font-size: 16px;
                            line-height: 136%;
                        }                                        
                    }
                }                
                .txt_bold {
                    color: var(--Blanco-F5EDED);
                    font-family: $font-family;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 100%; /* 22px */
                    padding-bottom: 40px;
                    @media only screen and (max-width: 600px) {
                        font-size: 18px;
                        padding-bottom: 20px;
                    }
                }
                .ul {
                    width: 100%;
                    @include flex(flex, space-between, flex-start, 0px);
                    flex-wrap: wrap;
                    padding-bottom: 20px;
                    @media only screen and (max-width: 600px) {
                        flex-direction: column;
                    }
                    li {
                        width: 49%;
                        color: var(--Blanco-F5EDED);
                        font-family: $font-family;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;     
                        padding-bottom: 20px;
                        @media only screen and (max-width: 600px) {
                            width: 100%;
                            font-size: 16px;
                        }
                        span {
                            color: var(--Blanco-F5EDED);
                            font-family: $font-family;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;                            
                        }             
                    }
                }
                .descripcion {
                    color: var(--Blanco-F5EDED);
                    font-family: $font-family;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;        
                    padding-bottom: 2rem;            
                }
                .descripcion_acerca_de {
                    color: var(--Blanco-F5EDED);
                    font-family: $font-family;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;        
                    padding-bottom: 2rem;            
                }                
                .conocer_mas {
                    cursor: pointer;
                    width: fit-content;
                    display: flex;
                    padding: 10px 30px;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 29px;                    
                    border-radius: 30px;                    
                    border: 1px solid #2B272B;
                    @include flex(flex, center, center, 20px);
                    @media only screen and (max-width: 600px) {
                        border: 1px solid #D72323;
                        padding: 10px 20px;
                        img {
                            width: 25px;
                        }
                    }
                    &:hover {
                        border: 1px solid #D72323;
                    }
                    .button_conoce_mas {
                        color: var(--Blanco-F5EDED);
                        font-family: $font-family;
                        font-size: 17.477px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;                   
                        @media only screen and (max-width: 600px) {
                            font-size: 15px;
                        }         
                    }
                }                
            }
        }
        .faqs_home_content {
            display: flex;
            width: 630px;
            height: 445px;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            flex-shrink: 2;
            @media only screen and (max-width: 600px) {
                width: 100%;
                height: 500px;
            }               
            .item_faqs {
                width: 100%;
                display: flex;
                min-height: 95px;
                padding: 20px 10px 20px 20px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                flex-shrink: 0;
                align-self: stretch;        
                border-radius: 20px;
                background: #2B272B;      
                &:hover {
                    .txt {
                        display: block;
                        animation: fade-in 1s;
                    }                    
                }
                .h1                    {
                    color: rgba(223, 223, 223, 0.90);
                    font-family: $font-family;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 101.5%; /* 28.42px */          
                    @media only screen and (max-width: 600px) {
                        font-size: 20px;
                    }          
                }
                .txt {
                    color: var(--Blanco-F5EDED);
                    font-family: $font-family;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 156.5%; /* 21.91px */      
                    padding-top: 10px;           
                    display: none;    
                }
            }
        }
        .faqs_home_content_big {
            display: flex;
            width: 630px;
            height: 635px;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            flex-shrink: 2;
            @media only screen and (max-width: 600px) {
                width: 100%;
            }
            .item_faqs {
                width: 100%;
                display: flex;
                min-height: 95px;
                padding: 20px 10px 20px 20px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                flex-shrink: 0;
                align-self: stretch;        
                border-radius: 20px;
                background: #2B272B;     
                &:hover {
                    .txt {
                        display: block;
                        animation: fade-in 1s;
                    }                    
                }
                .h1                    {                    
                    color: rgba(223, 223, 223, 0.90);
                    font-family: $font-family;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 130%; /* 32.5px */        
                    @media only screen and (max-width: 600px) {
                        font-size: 20px;
                    }            
                }

                .txt {
                    color: var(--Blanco-F5EDED);
                    font-family: $font-family;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 156.5%; /* 21.91px */      
                    padding-top: 10px;           
                    display: none;    
                }
            }
        }        
    }
    .contente_banner_desplegables {
        width: 100%;
        margin-bottom: 20px;
        .banner_desplegable {
            cursor: pointer;
            width: 100%;
            min-height: 170px;
            transition: min-height 0.15s ease-out;            
            border-radius: 29.977px;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            position: relative;
            z-index: 2;
            transition: min-height 1s ease-in;
            @media only screen and (max-width: 600px) {
                border-radius: 20px;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                background-color: rgba(0,0,0,0.5);
            }
            &.active {
                min-height: 800px;                        
                .content_text_banner {
                    .h1 {
                        font-size: 64px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 95%; /* 60.8px */
                        letter-spacing: -2.56px;  
                        @media only screen and (max-width: 600px) {
                            font-size: 25px;
                        }                                          
                    }
                    .conocer_mas { 
                        display: flex;
                        margin-top: 25px;
                        animation: slideaway 1s;
                        @media only screen and (max-width: 600px) {
                            .arrow_conocer_mas {
                                width: 20px;
                            }
                        }
                    }
                }        
            }
            .content_text_banner {
                width: 95%;
                margin: 0 auto;
                position: relative;
                z-index: 2;             
                margin-bottom: 25px;                   
                .h1 {
                    color: #DFDFDF;
                    font-family: $font-family;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 95%; /* 34.2px */
                    letter-spacing: -1.44px;                   
                    -webkit-transition: font-size 1s ease-in;
                    -moz-transition: font-size 1s ease-in;
                    -o-transition: font-size 1s ease-in;
                    transition: font-size 1s ease-in;     
                    @media only screen and (max-width: 600px) {
                        font-size: 22px;
                    }                                     
                }
                .conocer_mas {                    
                    width: fit-content;                    
                    padding: 10px 30px;
                    gap: 29px;                    
                    border-radius: 30px;
                    border: 1px solid #F5EDED;
                    background: rgba(22, 22, 22, 0.30);
                    @include flex(none, center, center, 20px);
                    animation: bk 6s;
                    @media only screen and (max-width: 600px) {
                        padding: 7px 18px;
                    }
                    .button_conoce_mas {
                        color: var(--Blanco-F5EDED);
                        font-family: $font-family;
                        font-size: 17.477px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;                            
                        @media only screen and (max-width: 600px) {
                            font-size: 12px;
                        }
                    }
                }                 
            }
        }
    }
    .content_slider_nosotros_small {
        width: 100%;
        @include flex(flex, space-between, center, 0px);
        margin-bottom: 25px;
        @media only screen and (max-width: 600px) {
            flex-direction: column;
            gap: 30px;
        }           
        .small_nosotros {
            display: flex;
            width: 630px;
            height: 350px;
            padding: 0px 20px 0px 60px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 17px;
            flex-shrink: 0;      
            border-radius: 30px;  
            background-color: #2B272B;
            border: 1px solid #2B272B;
            @media only screen and (max-width: 600px) {
                width: 100%;
                height: 300px;
                padding: 0px 20px 0px 20px;
            }              
            &:hover {
                border: 1px solid #D72323;
            }            
            .h1 {
                color: var(--Blanco-F5EDED);
                font-family: $font-family;
                font-size: 52.461px;
                font-style: normal;
                font-weight: 300;
                line-height: 101.5%; /* 53.248px */    
                @media only screen and (max-width: 600px) {
                    font-size: 30px;
                }            
            }
            .p {
                color:#DFDFDF;
                font-family: $font-family;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24.657px; /* 176.119% */                
            }
        }
        .slider_bullets {
            width: 635px;
            height: 350px;
            background-color: #DFDFDF;     
            border-radius: 30px;
            @include flex(flex, center, center, 0px);   
            @media only screen and (max-width: 600px) {
                width: 100%;
                height: 300px;
            }                        
            .box_slider {
                width: 430px;
                margin: 0 auto;
                padding: 20px 0;    
                @media only screen and (max-width: 600px) {
                    width: 100%;
                }     
                .glide__bullets {
                    bottom: -2em;
                }       
                .content_equipo {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    @media only screen and (max-width: 600px) {
                        width: 95%;
                        margin: 0 auto;
                    }
                    .logo_company {
                        width: 123.717px;
                        height: 123.717px;
                        flex-shrink: 0;           
                        @media only screen and (max-width: 600px) {
                            width: 90px;
                            height: 90px;                            
                        }             
                    }
                    div {
                        width: 123.717px;
                        height: 123.717px;
                        flex-shrink: 0;   
                    }
                }
            } 
        }
    }
    // COTIZADOR
    .content_cotizador_user {
        width: 100%;
        margin-bottom: 2rem;
        .content_presentacion {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    // FORMULARIO COTIZADOR
    .content_form_cotizador {
        width: 100%;
        border-radius: 21.333px;
        background: #2B272B;    
        margin-bottom: 2rem;   
        .box {
            width: 95%;
            margin: 0 auto;
            padding: 10px 0;
            ul {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li {
                    .txt {
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 14.933px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 95%; /* 14.187px */
                        letter-spacing: -0.597px;                        
                    }
                    .input {
                        margin-bottom: 0;
                    }
                    .button_cotizar {
                        color: #FFF;
                    }
                }
            }
        } 
    }
    .content_comentarios {
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media only screen and (max-width: 600px) {
            flex-direction: column;
            gap: 30px;
        }
        .detalle_foto_venta {
            width: 630px;
            border-radius: 30px;
            background: #2B272B;             
            padding: 20px;
            @media only screen and (max-width: 600px) {
                width: 100%;
            }
            .txt_e {
                color: #D9D9D9;
                font-size: 1rem;
                &.mt {
                    margin-top: 10px;
                }
            }
            .txt {
                font-size: 0.9rem;
                color: #FFF;
                padding-top: 5px;
            }
            .content_form_cotizador {
                width: 100%;
                border-radius: 21.333px;
                background: #2B272B;    
                margin-bottom: 0px;   
                .box {
                    width: 100%;
                    margin: 0 auto;
                    padding: 10px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    .w {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;     
                        @media only screen and (max-width: 600px) {
                            flex-direction: column;
                            gap: 10px;
                        }                   
                        .input {
                            width: 49%;
                            margin-bottom: 0;
                            @media only screen and (max-width: 600px) {
                                width: 100%;
                            }
                        }                        
                    }                    
                    .button_cotizar {
                        margin-top: 20px;
                        width: 100%;
                        color: #FFF;
                    }                    
                } 
            }            
        }
        .imagenes_relacionadas {
            width: 630px;
            flex-shrink: 0;
            border-radius: 30px;
            background: #2B272B;                   
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 6rem;
            padding-bottom: 3.6rem;
            @media only screen and (max-width: 600px) {
                width: 100%;
            }
            .box_glide {
                width: 100%;
                
                .glide__bullets {
                    position: absolute;
                    z-index: 2;
                    top: -3.5em;
                    left: 50%;
                    display: inline-flex;
                    list-style: none;
                    transform: translateX(-50%);
                    .glide__bullet {
                        background-color: #999999;
                        width: 22px;
                        height: 22px;
                        padding: 0;
                        border-radius: 50%;
                        border: 2px solid transparent;
                        transition: all 300ms ease-in-out;
                        cursor: pointer;
                        line-height: 0;
                        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
                        margin: 0 0.55em;
                        &--active {
                            opacity: 1;
                            background-color: #BD2727;
                        }
                    }                    
                }                
                 .content_imagen_relacionada {
                    width: 305px;
                    height: 205px;
                    border-radius: 20px;
                    overflow: hidden;                    
                    img {
                        width: fit-content;
                    }
                 }
            } 
        }        
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideaway {
    from { transform: translateY(0px); opacity: 0; }
    to { display: flex; }
}

@keyframes bk {
    from { transform: translateY(-200px); opacity: .5; }
    to { display: none; }
}

// .glide__bullets {
//     position: absolute;
//     z-index: 2;
//     top: -1em;
//     left: 50%;
//     display: inline-flex;
//     list-style: none;
//     transform: translateX(-50%);
// }


.glide__bullet {
    background-color: #999999;
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    line-height: 0;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    margin: 0 0.25em;
    &--active {        
        background-color: #BD2727;        
    }
}


// Arquitectura 
.contente_slider_doble {
    width: 100%;
    @include flex(flex, space-between, flex-start, 0px);
    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }
    margin-bottom: 25px;
    .glide_slider {
        width: 630px;
        height: 445px;
        flex-shrink: 0;
        @media only screen and (max-width: 600px) {
            width: 100%;
            height: 370px;
        }
        img {
            border-radius: 20px;
            height: 445px;
            @media only screen and (max-width: 600px) {
                height: 350px;
            }
        }
    }    
}

// Corporativa
.content_slider_fq {
    width: 100%;
    @include flex(flex, space-between, flex-start, 0px);     
    margin-bottom: 25px;
    @media only screen and (max-width: 600px) {
        flex-direction: column;
        gap: 30px;
    }
    .parte_imagen {
        width: 635px;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }        
        .glide_slider_full {
            width: 630px;
            height: 911px;
            overflow: hidden;
            border-radius: 20.967px;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;            
            @media only screen and (max-width: 600px) {
                width: 100%;
                height: 450px;
            }
        }        
    }
    .parte_dos {
        width: 635px;
        height: 911px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .glide_slider {
            display: flex;
            width: 630px;
            height: 445px;
            justify-content: center;
            align-items: center;     
            margin-bottom: 20px;       
        }
        .faqs_home_content {
            width: 630px;
            display: flex;
            width: 630px;
            height: 445px;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            flex-shrink: 2;
            .item_faqs {
                width: 100%;
                display: flex;
                min-height: 95px;
                padding: 20px 10px 20px 20px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                flex-shrink: 0;
                align-self: stretch;        
                border-radius: 20px;
                background: #2B272B;     
                &:hover {
                    .txt {
                        display: block;
                        animation: fade-in 1s;
                    }                    
                }
                .h1                    {
                    color: rgba(223, 223, 223, 0.90);
                    font-family: $font-family;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 101.5%; /* 28.42px */                    
                }

                .txt {
                    color: var(--Blanco-F5EDED);
                    font-family: $font-family;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 156.5%; /* 21.91px */      
                    padding-top: 10px;           
                    display: none;    
                }
            }
        }        
    }
}

// Acerca de
.content_imagenes_grandes_slider {
    width: 100%;
    @include flex(flex, space-between, flex-start, 0px);    
    @media only screen and (max-width: 600px) {
        flex-direction: column;
    } 
    margin-bottom: 25px;
    .glide_slider_full {
        width: 630px;
        height: 911px;
        overflow: hidden;
        align-self: stretch;        
        border-radius: 20px; 
        @media only screen and (max-width: 600px) {
            width: 100%;
            height: auto;
        }
    }
}

.content_slider_bullets {
    width: 100%;
    @include flex(flex, space-between, flex-start, 0px);     
    margin-bottom: 25px;  
    @media only screen and (max-width: 600px) {
        flex-direction: column-reverse;
    }
    .slider_bullets {
        border-radius: 10;
        background: #2B272B;        
        width: 635px;
        height: 600px;
        @include flex(flex, center, center, 0px);          
        @media only screen and (max-width: 600px) {
            width: 100%;
            height: auto;
        }             
        .box_slider {
            width: 580px;
            margin: 0 auto;
            padding: 20px 0;       
            @media only screen and (max-width: 600px) {
                width: 100%;
                padding: 0px;
            }             
            .glide__bullets {
                position: absolute;
                z-index: 2;
                top: -4em;
                left: 50%;
                display: inline-flex;
                list-style: none;
                transform: translateX(-50%);
            }       
            .glide__bullet {
                background-color: #999999;
                width: 21px;
                height: 21px;
                padding: 0;
                border-radius: 50%;
                border: 2px solid transparent;
                transition: all 300ms ease-in-out;
                cursor: pointer;
                line-height: 0;
                box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
                margin: 0 0.25em;
                &--active {        
                    background-color: #BD2727;        
                }
            }                         
            .content_info {
                p {
                    color: var(--Blanco-F5EDED);
                    font-family: $font-family;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;         
                    @media only screen and (max-width: 600px) {
                        font-size: 15px;
                        padding: 10px;
                    }                                
                    span {
                        font-weight: 700;
                    }
                }
            }
        } 
    }      
    .glide_slider {
        width: 630px;
        height: 600px;
        flex-shrink: 0;
        @media only screen and (max-width: 600px) {
            width: 100%;
            height: auto;
        }        
        img {
            width: 630px;
            height: 600px;
            border-radius: 20px;
            @media only screen and (max-width: 600px) {
                width: 100%;
                height: auto;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;                
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }                              
        }
    }    
}

// CONTACTO
.content_slider_triple {
    width: 100%;
    @include flex(flex, space-between, flex-start, 0px);
    margin-bottom: 25px;
    @media only screen and (max-width: 600px) {
        flex-direction: column;
        border-radius: 10px;
    }
    .glide_slider {
        width: 420px;
        height: 420px;
        flex-shrink: 0;
        @media only screen and (max-width: 600px) {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }  
}



// Blog

.content_nota {
    width: 100%;
    min-height: 264px;
    padding: 15px 20px;
    border-radius: 30px;
    background: #2B272B;  
    @include flex(flex, space-between, flex-start, 40px);  
    margin-bottom: 25px;
    .img_blog {
        width: 450px;
        height: 228px;
        flex-shrink: 0;        
        border-radius: 30px;
        overflow: hidden;
        img {
            width: fit-content;
        }
    }
    .content_info {
        width: 750px;
        padding-top: 20px;
        .h1 {
            color: var(--Blanco-F5EDED);
            font-family: $font-family;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 28.8px */            
            padding-bottom: 10px;
        }
        .txt {
            color: var(--Blanco-F5EDED);
            font-family: $font-family;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;    
            padding-bottom: 2rem;        
        }
        .conocer_mas {
            width: 100%;            
            @include flex(flex, flex-end, center, 20px);
            .button_conoce_mas {
                color: var(--Blanco-F5EDED);
                font-family: $font-family;
                font-size: 17.477px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;                            
            }
        }        
    }
}

// Detalle Blog
.content_detalle {
    width: 100%;
    display: flex;
    padding: 40px 20px 15px 20px;
    border-radius: 30px;
    background: #2B272B;
    margin-bottom: 25px;
    .box {
        width: 1200px;
        margin: 0 auto;
        color: var(--Blanco-F5EDED);
        font-family: $font-family;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;        
        padding: 25px 0;                    
        .box_img {
            width: 100%;
            height: 600px;
            flex-shrink: 0;        
            border-radius: 30px;        
            overflow: hidden;            
            img {
                width: 100%;
            }
        }      
        h1 {
            padding: 15px 0 0 0;
            color: var(--Blanco-F5EDED);
            font-family: $font-family;
            font-size: 35px;
            font-style: normal;
            font-weight: 500;
            line-height: 121%; /* 42.35px */            
        }  
        p {
            color: var(--Blanco-F5EDED);
            font-family: $font-family;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;        
            padding: 25px 0;
        }
    }
}

// Galeria
.box_galeria {
    width: 100%;
    @include flex(flex, space-between, flex-start, 0px);
    flex-wrap: wrap;
    .content_galeria {
        width: 420px;
        display: flex;
        padding: 10px 10px 15px 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        border-radius: 28.636px;
        background: #2B272B;      
        margin-bottom: 25px;  
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
        .img {
            width: 400px;
            height: 400px;
            flex-shrink: 0;
            border-radius: 20.014px;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;   
            overflow: hidden;   
            background-size: cover;     
            @media only screen and (max-width: 600px) {
                width: 100%;
                height: 300px;
            }                       
        }
         h1 {
            color: var(--Blanco-F5EDED);
            font-family: $font-family;
            font-size: 27px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 27.205px */
            letter-spacing: -1.145px;        
            @media only screen and (max-width: 600px) {
                font-size: 20px;
            }    
         }
         .content_categoria {
            width: 400px;
            @include flex(flex, flex-start, center, 10px);
            flex-wrap: wrap;
            @media only screen and (max-width: 600px) {
                width: 100%;
            }
            .cat {
                display: flex;
                padding: 4.773px 6.682px;
                justify-content: center;
                align-items: center;
                gap: 9.545px;      
                border-radius: 9.545px;
                background: var(--Gris-3E3636, #3E3636);           
                span {
                    color: var(--Blanco-F5EDED);
                    font-family: $font-family;
                    text-align: center;
                    font-size: 14.318px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 95%; /* 13.602px */
                    letter-spacing: -0.573px;             
                }               
            }
         }
    }
}

// Videos
#videos {
    display: none;
    &.active {
        display: block;
    }
    .content_videos_popup {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        .box_popup {
            width: 1060px;
            height: 615px;
            position: relative;
            @media only screen and (max-width: 600px) {
                width: 90%;
                height: 300px;
            }
            .closePopup {
                position: absolute;
                right: -50px;
                top: -50px;
                @media only screen and (max-width: 600px) {
                    right: 0;
                }
                img {
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                }
            }
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.box_videos {
    width: 100%;
    @include flex(flex, space-between, flex-start, 0px);
    flex-wrap: wrap;
    .content_videos {
        width: 630px;
        display: flex;
        padding: 10px 10px 15px 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        border-radius: 28.636px;
        background: #2B272B;      
        margin-bottom: 25px;  
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
        .img {
            width: 610px;
            height: 400px;
            flex-shrink: 0;
            border-radius: 20.014px;
            background: url(<path-to-image>), #2B272B 50% / cover no-repeat;   
            overflow: hidden;   
            background-size: cover;                
            @media only screen and (max-width: 600px) {
                width: 100%;
                height: 212px;
            }
        }
         h1 {
            color: var(--Blanco-F5EDED);
            font-family: $font-family;
            font-size: 19px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px; /* 27.205px */
            letter-spacing: -1.145px;    
            @media only screen and (max-width: 600px) {
                font-size: 15px;
                line-height: 20px;
            }        
         }
         .content_categoria {
            width: 400px;
            @include flex(flex, flex-start, center, 10px);
            flex-wrap: wrap;
            .cat {
                display: flex;
                padding: 4.773px 6.682px;
                justify-content: center;
                align-items: center;
                gap: 9.545px;      
                border-radius: 9.545px;
                background: var(--Gris-3E3636, #3E3636);           
                span {
                    color: var(--Blanco-F5EDED);
                    font-family: $font-family;
                    text-align: center;
                    font-size: 14.318px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 95%; /* 13.602px */
                    letter-spacing: -0.573px;             
                }               
            }
         }
    }
}

.colaborador {
    width: 630px;
    height: 911px;
    border-radius: 20px;
    background: #2B272B;
    @media only screen and (max-width: 600px) {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    @media only screen and (max-width: 600px) {
        .contenedor_interno {
            width: 100%;
            margin: 0 auto;       
            .box_img_hover {
                width: 100%;
                border-radius: 20px;
                overflow: hidden;                         
            }            
            .nombre_colaborador {
                font-size: 22px;
                color: #D9D9D9;
                font-weight: 600;
                padding: 10px;
            }
            .trabajo {
                font-size: 16px;
                color: #D9D9D9;
                font-weight: 100;
                padding: 0px 10px;
            }   
            .decription {
                font-size: 16px;
                color: #D9D9D9;
                font-weight: 100;
                padding: 10px 10px 20px 10px;
            }                      
        }          
    }    
    &:hover {
        .contenedor_interno {
            width: 600px;
            padding-top: 10px;
            margin: 0 auto;
            @media only screen and (max-width: 600px) {
                width: 100%;
            }            
            .box_img_hover {
                width: 100%;
                height: 640px;
                border-radius: 20px;
                overflow: hidden;
                @media only screen and (max-width: 600px) {
                    border-radius: 20px;
                    height: auto;
                }                            
            }            
            .nombre_colaborador {
                font-size: 3em;
                color: #D9D9D9;
                font-weight: 600;
                padding-top: 20px;
                @media only screen and (max-width: 600px) {
                    font-size: 22px;
                    padding: 10px;
                }  
            }
            .trabajo {
                font-size: 1.8em;
                color: #D9D9D9;
                font-weight: 100;
                padding-top: 10px;
                @media only screen and (max-width: 600px) {
                    font-size: 16px;
                    padding: 10px 10px 20px 10px;
                }
            }   
            .decription {
                font-size: 1em;
                color: #D9D9D9;
                font-weight: 100;
                padding-top: 10px;
            }                      
        }         
    }       
}


.border_radio_20 {
    border-radius: 20px;
    overflow: hidden;
    img {
        width: max-content;
    }
}


#popup {
    display: none;
    position: relative;
    &.active {
        display: block;
    }
    .opacidad {
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.7);
        position: fixed;
        z-index: 30;
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 600px) {
            z-index: 300;
        }
        .content_imagen_galeria {
            width: 800px;
            position: relative;
            text-align: center;
            @media only screen and (max-width: 600px) {
                width: 100%;
            }
            .cerrar {
                border-radius: 50%;
                border: 1px solid var(--primario-rojo);
                top: -60px;
                right: -60px;
                position: absolute;
                color: #FFF;
                font-size: 30px;
                padding: 0px 13px;
                cursor: pointer;
                @media only screen and (max-width: 600px) {
                    right: 20px;
                    font-size: 20px;
                    padding: 0px 9px;                    
                }                
            }
            img {
                width: 60%;
                @media only screen and (max-width: 600px) {
                    width: 80%;
                }
            }
        }
    }    
}