$font-family: 'Poppins', sans-serif;
$font-DM: 'DM Sans', sans-serif;

$header: 100px;

$colores: (
  "primario-negro":#161616,
  "primario-rojo": #D72323,
  "Gris-3E3636": #3E3636,
  "Blanco-F5EDED": #F5EDED
);

:root{
  @each $name, $value in $colores {
      --#{$name}: #{$value};
  }
}
  
@each $name, $value in $colores {
  @include __color('#{$name}', var(--#{$name}))
}